@import "../../tools/helper.pcss";

.flex { 
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  flex-grow: 1;
}

.stauts-label {
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.stauts-label--closed {
  background-color: #DF0212;
}

.stauts-label--opened {
  background-color: #0552A2;
}

