* {
  display: block;
}

a100-status { 
  height: auto;
}

a100-button {
  flex-grow: 1;
  margin-right: 20px;
}

.flex {
  display: flex;
  margin-top: 20px;
}

.star {
  margin-right: 20px;
  max-width: 50px;
}
