@import "../../tools/all.pcss";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  animation: fadeIn 1.5s ease;
}

.list-item {
  flex-grow: 1;
  display: block;
  color: $black;
  margin: 0 16px 30px;
  padding: 10px;
  flex-basis: 210px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  border-radius: 10px;
}
