@import "../../tools/all.pcss";

:host {
  position:releative;
}
.stauts-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}

.stauts-label--closed {
  background-color: $red;
}

.stauts-label--opened {
  background-color: $blue;
}
