@import "../../tools/color.pcss";

.test {
  color: $orange;
}

.title {
  margin: 64px 0 32px;
}

.title__main {
  width: 280px;
  margin: 16px auto;
}

.title__sub {
  width: 260px;
  margin: 0 auto 20px
}

.title__logo {
  width: 140px;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main__contents {
  width: 30%;
}

.main__item {
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.main__image {
  width: 100%;
}
